<h2>Products</h2>
<div class="card">
  <div class="card-head">
    Product 1
  </div>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, et delectus ipsam, illum sunt animi laudantium
      nemo officia cupiditate exercitationem corrupti numquam error omnis non deleniti veniam ea ut minus!
  </div>
</div>
<div class="card">
  <div class="card-head">
    Product 2
  </div>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, et delectus ipsam, illum sunt animi laudantium
      nemo officia cupiditate exercitationem corrupti numquam error omnis non deleniti veniam ea ut minus!
  </div>
</div>
