<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <!-- <button class="logo" (click)="toogleCollapse()">I</button> -->
    <img src="../../../../assets/img/iicana-logo.svg" class="logo" (click)="toogleCollapse()" alt="">
    <div class="logo-text" *ngIf="!collapsed">IICANA</div>
    <button class="btn-close" *ngIf="!collapsed" (click)="closeSideNav()">
      <i class="fal fa-times colse-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let item of navData">
      <a class="sidenav-nav-link" [routerLink]="[item.routerLink]" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed">{{item.label}}</span>
      </a>
    </li>
  </ul>
</div>
