<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
      <span class="counter">{{contador}}</span>
    </a>
  </div>
  
  <div class="side-menu" [class.active]="activeMenu">
    <div class="items-side">
      <button (click)="toggleMenu()"><img src="./assets/img/marca-de-la-cruz.png" alt="cruz"></button>
      <ul>
        <li><a (click)="navigateTo('login')">Login</a></li>
        <li><a (click)="navigateTo('list-products')">All</a></li>
        <li><a href="">Accesories</a></li>
        <li><a href="">Wireless</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a (click)="navigateTo('login')">Login</a></li>
        <li><a (click)="navigateTo('list-products')">All</a></li>
        <li><a href="">Accesories</a></li>
        <li><a href="">Wireless</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button *ngIf="!profile; else elseBlock" class="btn btn-success" (click)="login()">Ingresar</button>
        <ng-template #elseBlock>{{profile?.name}}</ng-template>
      </div>
      <div>
        <a href="">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">     
        </a>
        <span class="counter">{{contador}}</span>
      </div>
    </div>
  </div>
</div>
