<app-login-base [isLoading]="false">
  <section class="register">
    <div class="register__container">
    <h4>Registrarme</h4>
    <form [formGroup]="form" (ngSubmit)="onRegister()">
      <div class="login__container-inputs">
      <div class="row">
      <div class="col align-left">
        <!-- <label class="login__label">Email</label> -->
        <div class="input-group has-validation">
          <input formControlName="email" placeholder="Email" type="text" class="form-control" [ngClass]="{ 'is-invalid': emailInvalid }" [class.is-valid]="!emailInvalid">
          <div *ngIf="emailInvalid" class="invalid-feedback animated fadeIn">
            {{emailInvalid}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col align-left">
        <!-- <label class="login__label">Password</label> -->
        <input formControlName="password" placeholder="Password" type="password" class="form-control" [ngClass]="{ 'is-invalid': passwordInvalid }" [class.is-valid]="!passwordInvalid">
        <div *ngIf="passwordInvalid" class="invalid-feedback animated fadeIn">
          {{passwordInvalid}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col align-left">
        <!-- <label class="login__label">Repeat Password</label> -->
        <input formControlName="repeatPassword" placeholder="Repeat Password" type="password" class="form-control" [ngClass]="{ 'is-invalid': errorRepeatPassword }" [class.is-valid]="!errorRepeatPassword && form.get('repeatPassword')!.touched">
        <div *ngIf="errorRepeatPassword" class="invalid-feedback animated fadeIn">
          {{errorRepeatPassword}}
        </div>
      </div>
    </div>
  </div>
  <div class="container-footer-options">
    <div class="container-ask">
      <a class="container-ask" routerLink="/auth/login"><i class="fal fa-long-arrow-left" style="margin-right: 3px;"></i>Volver al Login</a>
    </div>
    <button type="submit" class="btn btn-primary bg-blue" [disabled]="form.invalid">Registrarme</button>
  </div>
    </form>
  </div>
  </section>
</app-login-base>
