<app-login-base [isLoading]="false">
  <section class="login">
  <h4>Bienvenido</h4>
  <form [formGroup]="form" (ngSubmit)="onLogin()">
    <div class="login__container-inputs">
    <div class="row">
    <div class="col align-left">
      <label class="login__label">Email</label>
      <div class="input-group has-validation">
        <input formControlName="email" type="text" class="form-control" [ngClass]="{ 'is-invalid': emailInvalid }" [class.is-valid]="!emailInvalid">
        <div *ngIf="emailInvalid" class="invalid-feedback animated fadeIn">
          {{emailInvalid}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col align-left">
      <label class="login__label">Password</label>
      <input formControlName="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': passwordInvalid }" [class.is-valid]="!passwordInvalid">
      <div *ngIf="passwordInvalid" class="invalid-feedback animated fadeIn">
        {{passwordInvalid}}
      </div>
    </div>
  </div>
</div>
<div class="container-footer-options">
<button type="submit" class="btn btn-primary bg-blue" [disabled]="form.invalid">Iniciar sesión</button>
  <div class="login__container-options">
    <div class="container-ask">
      <a class="container-ask" routerLink="/auth/forgot-password">¿Olvidaste tu contraseña?</a>
    </div>
    <div class="container-register">
      <a class="container-register" routerLink="/auth/register">Registrarme</a>
    </div>
  </div>
</div>
  </form>
</section>
</app-login-base>

