.login{

  padding-top: 1rem;

  &__container{

  }

  &__container-inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label{
    margin-bottom: 0.3rem;
  }

  &__container-options{
    display: flex;
    justify-content: space-between;
  }


}

.align-left{
  text-align: left;
}

.container-ask{
  color: #032785;
}

.container-register{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.bg-blue{
  background-color: #032785 !important;
  border: none;
}
